doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  title Suggestive Lettuce Speed Test
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
body
  br
  .container-fluid
    h1.text-black Suggestive Lettuce Wi-Fi Speed Test
  br
  .container-fluid
    .row
      .col-8
        table.table
          thead.thead-dark
            tr
              th(scope='col' colspan='4') Your speed test results
          tbody
            tr
              th.bg-white.text-dark(scope='row') Download
              - if(down)
                td.text-black #{down}
              - else
                td.text-black undefined
              th.bg-white.text-dark Upload
              - if(up)
                td.text-black #{up}
              - else
                td.text-black undefined
        
            tr
              th.bg-white.text-dark(scope='row') Location
              - if(lat && long)
                td.text-black #{lat, long}
              - else
                td.text-black undefined
              th.bg-white.text-dark Ping
              - if(ping)
                td.text-black #{ping}
              - else
                td.text-black undefined
            tr
              th.bg-white.text-dark(scope='row') Date
              - if(time)
                td.text-black #{time}
              - else
                td.text-black undefined

              //- th.bg-white.text-dark Time
              //- td.text-black ?
      .col-4.text-center
        img.rounded(src='../../resources/img/PicsArt_11-07-11.01.54.png' align='middle' alt='logo' height='200' width='150')
    br
    br
  .container.shadow.p-3.mb-5.bg-white.rounded
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#charts-tab.nav-link.active(data-toggle='tab' href='#charts' role='tab' aria-controls='charts' aria-selected='true') Chart View
      li.nav-item
        a#suggestion-tab.nav-link(data-toggle='tab' href='#suggestion' role='tab' aria-controls='suggestion' aria-selected='false') Suggestions
      li.nav-item
        a#best-tab.nav-link(data-toggle='tab' href='#best' role='tab' aria-controls='best' aria-selected='false') Best and Worst
    #myTabContent.tab-content
      #charts.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='charts-tab')
        | ...
      #suggestion.tab-pane.fade(role='tabpanel' aria-labelledby='suggestion-tab')
        | ...
      #best.tab-pane.fade(role='tabpanel' aria-labelledby='best-tab')
        | ...
  br
  .container.bg-warning(style='height:300px')
    h1  heatmap here
  br
  .container.bg-warning(style='height:300px')
    h1  Charts here?
  br
  br
